* {
    font-family: "Raleway-bold", Helvetica;
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: black;
}

ul,
li {
    list-style-type: none;

}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.container{
    width: 1440;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,a,p,div,img{
    margin-top: 0px;
    margin-bottom: 0px;
}
img{
    display: block;
}
/* ----- navigation -----*/
.header{
    border-bottom: 1px solid #e7e9fc;
}
.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    margin-left: 156px;
    margin-right: 76px;
    display: flex;
    padding: 15px 15px;
    
}

.logo-studio {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    margin-right: 76px;
    
    
}
.header-navigation{
    display: flex;
    align-items: center;

   
}
.header-navigation-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
  
    gap: 40px;
   
    display: flex;
    margin-right: 332px;
}

.header-navigation-list-itme {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

.header-navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    

}

.header-navigation-link:hover,
.header-navigation-link:focus {
    color: #404bbf;
}



.div-header-secondary{
    

    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    width: 1158px;
}





/*addres*/
.address {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
   
}

.address-list {
    color: #434455;
    gap: 40px;
    display: flex;
    
    
}

.address-list-itme {
    color: #434455;
}

.address-list-itme-text {
    color: #434455;
}

.address-list-itme-text:hover,
.address-list-itme-text:focus {
    color: #404BBF;
}

/* ----- hero banner -----*/
.hero-banner {
    background-image: url(../images/Dark-bg\ \(1\).jpg);

    font-weight: 1440px;
    line-height: 312px;
    padding: 188px 0;
    background-color: #2e2f42;
}

.hero-banner-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;

    
    margin-left: 472px;
    padding-top: 188px;
    
    text-align: center;
    max-width: 496px;

  
}
.hero-banner-botton {

    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    width: 169px;

    height: 56px;
    margin-left: 636px;
    display: block;
    min-width: 169px;
    border-radius: 4px;
    border: none;
}
.hero-banner-botton:hover {
    background-color: #404bbf;
}

.hero-banner-botton:focus {
    background-color: #404BBF;
}

/* ----- solutions-----*/
.solutions {
    padding: 120px 0;
}
 
.visually-hidden {
position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

.solutions-list {
    display: flex;
    gap: 24px;
    
    margin-left: 156px;
    
    margin-right: 156px;
    
}

.solutions-list-item {
width: calc((100% - 72px) / 4);
max-width: 264px;
}

.solutions-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

    margin-bottom: 8px;
}

.solutions-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;

}

/* ----- our-team-----*/
.team {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.team-logo {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
  
    margin-bottom: 72px;
    

}

.team-list {
    display: flex;
    gap: 24px;
    margin-left: 156px;
    flex-wrap: wrap;
    padding: 120px;
}
.team-list-container{
    padding: 32px 0;
}
.team-list-item {

    flex-basis: calc((100% - 3 * 24px) / 4);
    background-color: #FFFFFF;
    max-width: 264px;
    margin-top: 70px;
   
    border-radius: 0px 0px 4px 4px;

}

.team-logo {
    color: #2e2f42;
}

.team-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-top: 32px;
    margin-bottom: 8px;
}

.team-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-top: 8px;
    padding-bottom: 32px;
}
.team-images{
    display:block;
}

/* ----- portfolio-----*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
   
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
    column-gap: 24px;
    margin-left: 156px;
    row-gap: 48px;
    
}
.portfolio-list-item{
width: calc((100% - 48px) / 3);
}



.portfolio-list-div{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;

max-width: 360px;
}

.portfolio-list-itme-titl {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
    margin-bottom: 8px;

}

.portfolio-list-itme-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
}

.portfolio-images{
    display: block;
   
  
}
/* ----- footer-----*/
.footer {
    background-image: url(../images/Dark-bg\ \(1\).jpg);
    
    background-size: contain;
    background-color: #2e2f42;

    padding: 100px 0 100px;
}

.footer-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    display: inline-block ;
    margin-bottom: 16px;
}

.footer-logo-studioo {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}


.footer-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    line-height: 1.5;
    
    max-width: 264px;
}
